:root {
    --background-color: #EDF1D6;
    --header-color: #40513B;
    --heading: #40513B;
    --background-section: #A4BE7B;
    --buttons: #A4BE7B;
    --header-font-family: 'Cinzel Decorative', cursive;
    --font-size: 1.2rem;


}

main {
    font-size: larger;
    font-size: var(--font-size);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   

}

section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right:;
    gap: 2em;
}

article {
    background-color: var(--background-color);
    padding: 1em;

}

h1,
h2,
h3 {
    color: var(--heading)
}

h1 {
    font-size: 2rem;
}

.scroll-controls {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 2em;



}

/* .scroll-controls button {
    background-color: var(--header-color);
    padding: .5em;
    border-radius: .2em;
    border: none;
    color: white;
    font-size: 1.3rem;
} */

.scroll-controls button {
    background-color: var(--header-color);
    padding: .5em;
    border-radius: .2em;
    border: none;
    color: white;
    font-size: 1rem;
    width: 100px;



}

.scroll-controls button:nth-of-type(1) {
    position: fixed;
    bottom: 9em;
    margin-bottom: 2em;
}

.scroll-controls button:nth-of-type(2) {
    position: fixed;
    bottom: 7em;
    margin-bottom: 7em;
}

 .scroll-controlsbutton:nth-of-type(3) {
    position: fixed;
    margin-bottom: 5em;

}


 .scroll-controls button:nth-of-type(2) {
    position: fixed;
    bottom: 7em;
    margin-bottom: 1em;
}

.scroll-controls button:nth-of-type(3) {
    position: fixed;
    bottom: 5em;
    margin-bottom: -1em;
}


/***Animation for scrolling**/

#scroll-text {
    overflow: hidden;
    white-space: wrap;
}

.scrolling-up {
    animation: scroll-up 10s linear infinite;
}

.scrolling-down {
    animation: scroll-down 10s linear infinite;
}

.paused {
    animation-play-state: paused;
}

@keyframes scroll-up {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translatey(-100%);
    }
}

@keyframes scroll-down {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translatey(0%);
    }
}



.copy-buttons button {
    background-color: var(--buttons);
    border: none;
    padding: .7em;
    border-radius:.2em;
    margin-top: 1em;


}


ul{
   list-style: none;
   display: flex;
   flex-direction: column;
}

li {
    font-size: 1rem;
    border:.3em solid white;
    margin: auto 4em;
    background-color: var(--background-color);
}


textarea::placeholder{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

@media screen and (min-width: 600px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2em;
    }

    .scroll-controls {
        display: flex;
      
        justify-content: flex-end;
        align-items: flex-end;
        padding: 2em;

    
    }
.scroll-controls button {
    background-color: var(--header-color);
 
    padding: .5em;
    border-radius: .2em;
    border: none;
    color: white;
    border: 2px solid var(--buttons);
    font-size: 1rem;
    width: 100px;

}

.copy-btn{
    display: grid;
    gap:2em;
    grid-column: 1fr;
}
.copy-btn button{
     background-color: #40513B;
}
}



